.navbar-brand>img {
  display: block;
  width: 10%;
  margin-top: -12px;
}

.main{
	margin-top: 10%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	width: 100%;
}

.panel-body img{
	width: 100%;
}

#result-loading {
  display: none
}
.responsive-object {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
